.jumbotron {
    background-color: #ffa500;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: orange;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

.footer-address-icon {
    margin-right: 10px;
}

.button-icon {
    margin-right: 10px;
}
