@mainBgColor: #ffa500;
@cardReservaBgColor: #faecd7;
@red: #eb4034;
@green: #1c8a21;

.margenes (@top:0px, @bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.relleno (@top, @right, @bottom, @left) {
    padding: @top @right @bottom @left;
}

.jumbotron {
    background-color: @mainBgColor;
    color: black;
    .margenes(50px, 20px );
}

footer {
    .relleno(10px, 10px ,0px ,10px );
    background-color: @mainBgColor;
    .margenes(10px, 0px );
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
    background-color: @cardReservaBgColor;
}

.btn-reserva {
    width: 100%;
    border-radius: 0;
}

.footer-address-icon {
    margin-right: 10px;
}

.button-icon {
    margin-right: 10px;
}
