.jumbotron {
  background-color: #ffa500;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #ffa500;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  background-color: #faecd7;
}
.btn-reserva {
  width: 100%;
  border-radius: 0;
}
.footer-address-icon {
  margin-right: 10px;
}
.button-icon {
  margin-right: 10px;
}
